{:paths ["src" "resources"]
 :deps
 {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}

 :tools/usage
 {:ns-default org.corfield.new}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {com.github.seancorfield/expectations {:mvn/version "2.0.165"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :exec-fn cognitect.test-runner.api/test}}}
