{:paths ["src" "resources"]
 :deps ; 1.12 required for add-lib
 {org.clojure/clojure {:mvn/version "1.12.5"}
  io.github.clojure/tools.build {:mvn/version "0.10.14"}
  com.github.pmonks/clj-spdx {:mvn/version "1.0.342"}
  org.slf4j/slf4j-nop {:mvn/version "2.0.18"}}

 :tools/usage
 {:ns-default org.corfield.new}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {io.github.noahtheduke/lazytest
                {:mvn/version "2.0.0"}}}
  :runner
  {:main-opts ["-m" "lazytest.main"]}
  :new ; for local testing as a tool
  {:deps {org.clojure/clojure {:mvn/version "1.12.5"}
          io.github.seancorfield/deps-new {:local/root "."}}
   :ns-default org.corfield.new}
  :outdated ; all the deps we use in project templates so antq can find them
  {:extra-deps {org.babashka/cli {:mvn/version "0.12.75"}
                org.clojure/test.check {:mvn/version "1.1.3"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                slipset/deps-deploy {:mvn/version "0.2.5"}}}
  ;; To run codox:
  ;; rm -rf target/ && clojure -X:codox
  :codox
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :exec-fn codox.main/generate-docs
   :exec-args {:source-paths ["src"]
               :doc-files ["README.md"
                           "doc/templates.md"
                           "doc/options.md"
                           "doc/names-variables.md"]
               :metadata {:doc/format :markdown}
               :codox {:writer codox.writer.html/write-docs}}}}}
