{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "48c3c67"}
                io.github.seancorfield/deps-new
                {:git/tag "v0.4.1" :git/sha "728d512"}}}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.5.4" :git/sha "bc9c0cc"}}
          :ns-default build}}}
