{:paths ["src" "."]
 ;; this makes sure the test runner is available if you jack-in with Babashka
 ;; so you can eval code in the test namespaces:
 :deps {{{test-runner/coordinate}}}
 :min-bb-version "1.13.222"
 :tasks
 {:requires [build]

  test {:doc "Run the test suite."
        :task (clojure "-M:test" "-m" "{{test-runner/main}}")}

  test:bb {:doc "Run the test suite using Babashka to check compatibility."
           :extra-paths ["test"]
           :task (exec '{{test-runner/exec-fn}})}

  test:all {:doc "Run the test suite with both Clojure and Babashka."
            :depends [test test:bb]}

  ci {:doc "Run the CI pipeline of tests and build the JAR."
      :depends [test:all] ; or just test
      :exec-fn build/uber}}}
