(ns {{top/ns}}.{{main/ns}}-test
  (:require [{{test-runner/namespace}} :refer [{{test-runner/deftest}} {{test-runner/is}} {{test-runner/testing}}]]
            [{{top/ns}}.{{main/ns}} :as sut])) ; system under test

({{test-runner/deftest}} a-test
  ({{test-runner/testing}} "FIXME, I fail."
    ({{test-runner/is}} (= 0 1))))
