{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:run-m {:main-opts ["-m" "{{top/ns}}.{{main/ns}}"]}
  :run-x {:ns-default {{top/ns}}.{{main/ns}}
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :sha "62ef1de18e076903374306060ac0e8a752e57c86"}}
         :exec-fn cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "{{main/file}}.jar"
                        :main-class "{{top/ns}}.{{main/ns}}"
                        :sync-pom true}}}}
